@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-stone-50: #fafaf9;
    --color-stone-100: #f5f5f4;
    --color-stone-800: #292524;
    --color-stone-900: #1c1917;
    --color-olive-800: #3f4d3f;
    --color-olive-900: #2c362c;
}

@layer base {
    body {
        @apply bg-stone-50 text-stone-800 antialiased;
    }
}

.swiper-pagination-bullet-active {
    background-color: #292524 !important;
}

@layer utilities {
    .cursor-none {
        cursor: none;
    }
}